<div class="container">

 <!-- User Profile Badge -->



<div class="well">
  <div class="row">
	  <!-- <div class="card"> -->
	  <div class="col-sm-3">
                <div class="profile-circle">
                    <img class="img-responsive proCircle" src="http://blog.ramboll.com/fehmarnbelt/wp-content/themes/ramboll2/images/profile-img.jpg" width="200">
                </div>
       </div>
       <div class="col-sm-6">
                <div class="card-content">
                <span class="card-title">
                <%- user.username %><br>
                Title <br>
                Company <br>
                </span>
				<div class="card-action">
                    <!-- <a href="#" target="new_blank">EMAIL</a>  -->

                    <p class="text-left lead">Summary about who they are, what they have to offer, why they are the best.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                	</div>
                    <a class='btn btn-medium btn-primary' href="/user/edit/<%= user.id %>">Edit</a>
                </div>
                </div>
		</div>
		<!-- </div> -->
    </div>
  </div>

<!-- WHAT SHOULD GO HERE -->

<!-- Replace with larger spacer? -->

<div class="row spacer">
	<dov class="col-sm-12"></dov>
</div>

<div class="row spacer">
	<dov class="col-sm-12"></dov>
</div>


<!-- Recent video section -->

<div class="row">
	<div class="col-sm-12">
		<h2 class="media-heading">RECENT VIDEOS</h2>
	</div>
	      <!-- Recent Video -->
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <!-- <div class="card-image"> -->
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe src="https://www.youtube.com/embed/jVD67pMdv9k" frameborder="0" allowfullscreen></iframe>
                      </div>
                    <span class="card-title"><h3>Title of Video</h3></span>
                <!-- </div> -->
                
                <div class="card-content">
                    <p>Mentor Name <br> Title, Company</p>
                </div>
                <br><br>
                <!-- <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                </div> -->
            </div>
        </div>

              <!-- Recent Video -->
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <!-- <div class="card-image"> -->
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe src="https://www.youtube.com/embed/jVD67pMdv9k" frameborder="0" allowfullscreen></iframe>
                      </div>
                    <span class="card-title"><h3>Title of Video</h3></span>
                <!-- </div> -->
                
                <div class="card-content">
                    <p>Mentor Name <br> Title, Company</p>
                </div>
                <br><br>
                <!-- <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                </div> -->
            </div>
        </div>

              <!-- Recent Video -->
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <!-- <div class="card-image"> -->
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe src="https://www.youtube.com/embed/jVD67pMdv9k" frameborder="0" allowfullscreen></iframe>
                      </div>
                    <span class="card-title"><h3>Title of Video</h3></span>
                <!-- </div> -->
                
                <div class="card-content">
                    <p>Mentor Name <br> Title, Company</p>
                </div>
                <br><br>
                <!-- <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                </div> -->
            </div>
        </div>
</div>




</div> 