<div class="container">

 <!-- User Profile Badge -->


<div class="well"> <h1>DashBoard</h1>
  <div class="row">
	  <!-- <div class="card"> -->
	  <div class="col-sm-3">
                <div class="profile-circle">
                    <img class="img-responsive proCircle" src="http://blog.ramboll.com/fehmarnbelt/wp-content/themes/ramboll2/images/profile-img.jpg" width="200">
                </div>
       </div>
       <div class="col-sm-6">
                <div class="card-content">
                <span class="card-title">
                Name  <br>
                Interests <br>
                </span>
				<div class="card-action">
                    <!-- <a href="#" target="new_blank">EMAIL</a>  -->

                    <p class="text-left lead">Summary about who they are, what they have to offer, why they are the best.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                	</div>
                </div>
		
		</div>
		<div class="col-sm-3">
            <div class="well panel whitebk">
            <!-- define a deeper profile page or an edit page how to implement -->
				<a href="/user/edit.."><button type="button" class="btn btn-default btn-round-lg btn-lg btn-clean">Edit Profile </button></a>
			</div>
        </div>
    </div>
  </div>

<!-- Recent video section -->

<div class="row">
	<div class="col-sm-12">
		<h2 class="media-heading">Recent Videos</h2>
	</div>
	      <!-- Recent Video -->
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <!-- <div class="card-image"> -->
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe src="https://www.youtube.com/embed/jVD67pMdv9k" frameborder="0" allowfullscreen></iframe>
                      </div>
                    <span class="card-title"><h3>Title of Video</h3></span>
                <!-- </div> -->
                
                <div class="card-content">
                    <p>Mentor Name <br> Title, Company</p>
                </div>
                <br><br>
                <!-- <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                </div> -->
            </div>
        </div>

              <!-- Recent Video -->
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <!-- <div class="card-image"> -->
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe src="https://www.youtube.com/embed/jVD67pMdv9k" frameborder="0" allowfullscreen></iframe>
                      </div>
                    <span class="card-title"><h3>Title of Video</h3></span>
                <!-- </div> -->
                
                <div class="card-content">
                    <p>Mentor Name <br> Title, Company</p>
                </div>
                <br><br>
                <!-- <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                </div> -->
            </div>
        </div>

              <!-- Recent Video -->
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <!-- <div class="card-image"> -->
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe src="https://www.youtube.com/embed/jVD67pMdv9k" frameborder="0" allowfullscreen></iframe>
                      </div>
                    <span class="card-title"><h3>Title of Video</h3></span>
                <!-- </div> -->
                
                <div class="card-content">
                    <p>Mentor Name <br> Title, Company</p>
                </div>
                <br><br>
                <!-- <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                </div> -->
            </div>
        </div>
</div>




</div> 