 <div class="container">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
        <li> <br> <a href="#">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="http://blog.ramboll.com/fehmarnbelt/wp-content/themes/ramboll2/images/profile-img.jpg">
                    <span class="card-title">Hi, <%= user.username %></span>
                </div></a></li>
    </ul>

      <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Book Seesions</a></li>
        <li><a href="#">My Mentors</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="">Messages</a></li>
        <li><a href="">Calendar</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="">Settings</a></li>
        <li><a href="">FAQS</a></li>
    </ul>
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    

<!-- START dashbaord section -->
    <div class="row">
    <div class="col-sm-12">
        <h1 class="page-header">Welcome back, <%= user.username %>!</h1>
        <!-- <p><%= user %></p> -->
    </div>
    </div>
    <div class="row">
    <div class="col-sm-9">
        <h3>UPCOMING SESSION</h3>
        <ul>
            <li>dummy</li>
            <li>dummy</li>
            <li>dummy</li>
            <li>edit</li>
        </ul>
    </div>
    </div>
    <di v class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
               
            </div>
        <div class="row">
         <div class="col-sm-9"> 
                <h3>UPDATE</h3>
                <h4>Mentor Name recently uploaded a new video. Check it out!</h4>
            <div class="card">
                <div class="card-image">
                <div class="col-sm-9">
                    <div class="embed-responsive embed-responsive-4by3">
                      <iframe src="http://www.youtube.com/embed/jVD67pMdv9k" frameborder="0" allowfullscreen></iframe>
                  </div>
                  <span class="card-title"><h3>Title of Video</h3></span>
                  </div>
                  
              </div>

              <div class="card-content">
                <p>Mentor Name <br> Title, Company</p>
            </div>
            <br><br>
            </div>
         </div>
            <div class="col-sm-3">
                <h2>DAILY QUOTE</h2>
                <h3 class="quote">“A mentor is someone who allows you to see the hope inside yourself.” </h3>
                    <h4 class="quote">- Oprah Winfrey</h4>

            </div>

        </div>
    </div>



            <div class="col-sm-12">
                <h2></h2>             
            </div>

            <div class="row spacer">
              <div class="col-sm-12">
                <h2 class="media-heading">RECOMMENDED VIDEOS FOR YOU</h2>
            </div>
        </div> 

<!-- RECENT VIDEO'S -->

        <div class="row">
            <!-- Recent Video -->
            <div class="col-sm-6 col-md-4">
                <div class="card">
                    <!-- <div class="card-image"> -->
                    <div class="embed-responsive embed-responsive-4by3">
                      <iframe src="https://www.youtube.com/embed/jVD67pMdv9k" frameborder="0" allowfullscreen></iframe>
                  </div>
                  <span class="card-title"><h3>Title of Video</h3></span>
                  <!-- </div> -->

                  <div class="card-content">
                    <p>Mentor Name <br> Title, Company</p>
                </div>
                <br><br>
                <!-- <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                </div> -->
            </div>
        </div>

        <!-- Recent Video -->
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <!-- <div class="card-image"> -->
                <div class="embed-responsive embed-responsive-4by3">
                  <iframe src="https://www.youtube.com/embed/jVD67pMdv9k" frameborder="0" allowfullscreen></iframe>
              </div>
              <span class="card-title"><h3>Title of Video</h3></span>
              <!-- </div> -->

              <div class="card-content">
                <p>Mentor Name <br> Title, Company</p>
            </div>
            <br><br>
                <!-- <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                </div> -->
            </div>
        </div>

        <!-- Recent Video -->
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <!-- <div class="card-image"> -->
                <div class="embed-responsive embed-responsive-4by3">
                  <iframe src="https://www.youtube.com/embed/jVD67pMdv9k" frameborder="0" allowfullscreen></iframe>
              </div>
              <span class="card-title"><h3>Title of Video</h3></span>
              <!-- </div> -->

              <div class="card-content">
                <p>Mentor Name <br> Title, Company</p>
            </div>
            <br><br>
                <!-- <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                </div> -->
            </div>
        </div>
        
    </div>

<!-- END dashbaord section -->


<!-- START BOOK SESSIONS section -->
<div class="row">
     <div class="col-sm-12">
        <h1 class="page-header">BOOK SESSIONS</h1>
            <div class="well col-sm-12">
            <div class="row">
                <div class="card-image">
                    <img class="img-responsive" src="http://blog.ramboll.com/fehmarnbelt/wp-content/themes/ramboll2/images/profile-img.jpg">
                    <span class="card-title">Mentor Name</span>
                </div>

                <div class="col-sm-6 col-sm-offset-3">
                    <h3>Please confirm you session.</h3>
                    <p> With: Mentor Name <br>
                        Date: Day, Date, Month, Year <br>
                        Time: 12:00 PM -1:00PM</p>
                </div>
            </div>
            <div class="row spacer"></div>
            <div class="row">
                <div class="col-sm-4 col-md-4 col-sm-offset-2 col-md-offset-2">
                     <a href="#" class="white">
                      <button type="button" class="btn btn-clean btn-round-lg btn-lg btn-fullWidth">Cancel</button>
                    </a>
                </div>
                <div class="col-sm-4 col-md-4 "> 
                    <a href="#">
                      <button type="button" class="btn btn-clean btn-round-lg btn-lg btn-fullWidth">Confirm</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END BOOK SESSIONS section -->



<!-- START MY MENTORS section -->
<div class="row">

    <div class="col-sm-4">
        <div class="col-sm-12 panel mentorCard">
          <div class="card-image">
            <img class="img-responsive mentor" src="/images/profile-img.jpg">
        </div>

        <h4 class="text-center col-sm-12 text-muted">Mentor Name</h4>
        <div class="col-sm-12">
            <a href="#" class="white">
                <button type="button" class="btn btn-clean btn-round-lg btn-lg btn-card">Book a Session</button></a> 
            </div>
            <div class="spacer"></div>
            <div class="col-sm-12">
                <a href="#" class="white"> 
                    <button type="button" class="btn btn-clean btn-round-lg btn-lg btn-card">Book a Session</button></a>
            </div>
            <div class="col-sm-12 box">
                <ul class="mentorBox">
                    <li class="mentorBoxList">Official Mentor</li>
                    <li class="mentorBoxList">Remove</li>
                </ul>
            </div>
        </div>
    </div>





</div>
<!-- END MY MENTORS section -->



<!-- START MESSAGES SESSIONS section -->

<div class="row">
    
</div>

<!-- END MESSAGES SESSIONS section -->



<!-- START CALENDAR section -->

<div class="row">
    
</div>

<!-- END CALENDAR section -->



<!-- START SETTINGs section -->

<div class="row">
    
</div>

<!-- END SETTINGs section -->



<!-- START FAQs section -->

<div class="row">
    
</div>

<!-- END FAQs section -->



<!-- STAY ABOVE THIS LINE -->
    </div>

</div>
</div>