<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="Record Videos" content="">
  <meta name="mentorLeap" content="">

     <title>Mentor Leap</title>
     <link rel="stylesheet" type="text/css" href="/CSS/custom.css">

     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

</head>
<body> 
<!-- Video Recorder -->
   <!--1. The 'widget' div element contains the upload widget. -->
   <!-- The 'player' div element contains the player IFrame. -->
   <div id="videoUploader"></div>
   <div id="widget"></div>
<!-- End Video Recorder -->

<!-- script tags are going to be injected here -->
    <!--SCRIPT-->
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- Injecting script for videoUploader -->
    <script src="/linker/js/youtubeUploader.js"></script>
    <!--SCRIPTS END--> 
 </body>
</html>