<!DOCTYPE html>
 <html lang="en">

 <head>

     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="Record Videos" content="">
     <meta name="mentorLeap" content="">

     <title>Mentor Leap</title>
     
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
       <script src="/assets/js/youtubeUploader.js">
     </script>

     <link rel="stylesheet" type="text/css" href="/CSS/custom.css">

     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

 </head>




<body> 


<!-- Video Recorder -->
   <!--1. The 'widget' div element contains the upload widget. -->
   <!-- The 'player' div element contains the player IFrame. -->
   <div id="videoUploader"></div>
   <div id="widget"></div>
   <!-- Attempting to pull directly from the assets folder -->
   <div>
   	<script src="/assets/js/youtubeUploader"></script>
   </div>
   <!-- Attempting to pull from the temporary folder -->
   <div>
   	<script src="/tmp/public/js/youtubeUploader"></script>

<!-- Attempting to pull from layout.ejs (Scripts) -->
<% block('localScripts', '<script src=/assets/js/youtubeUploader></script>') %>
<% block('localScripts', '<script src=/js/youtubeUploader></script>') %>
<% block('localScripts', '<script src=js/youtubeUploader></script>') %>

<!-- End Video Recorder -->

<!-- script tags are going to be injected here -->
    <!--SCRIPT-->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/youtubeUploader"></script>
    <script src="js/youtubeUploader.js"></script>
    <script src="/js/youtubeUploader.js"></script>
    <!--SCRIPTS END--> 
 </body>
</html>