<div class='container'>
  <div>
    <h1>Homepage</h1>
  </div>
  <div>
    <p>Find a mentor</p>
  </div>
  <div>
    <p>Book a session</p>
  </div>
  <div>
    <p>Description of company</p>
  </div>
  <div>
    <p>Videos (Popular/Recently Added)</p>
  </div>
</div>