<div class='container'>
  <div>
    <h1>Search for a Mentor!</h1>
  </div>
  <div>
    <!-- rip out angular, build a form -->
    <!-- <form  ng-app='projectLeap3App'  ng-controller='SignUpCtrl'>
      <p>Name:<br>
        <input type="text" name="First Name" ng-model="firstName">
      </p>
      <p>Keyword:<br>
        <input type="text" name="Last Name" ng-model="lastName">
      </p>
      <p>
        <input type="submit">
      </p>
    </form> -->
  </div>
  <div>
    <p>'Forgot password?'</p>
  </div>
</div>