<div class='container'>
  <div>
    <h1>My Profile Page!</h1>
  </div>
  <div>
    <p>Profile picture avatar</p>
  </div>
  <div>
    <p>Add/update Avatar</p>
  </div>
  <div>
    <p>Account information(First name/Last name)</p>
  </div>
  <div>
    <p>View upcoming appointments with mentor</p>
  </div>
  <div>
    <p>Button to book an appointment with a mentor</p>
  </div>
  <div>
    <p>Search for a mentor</p>
  </div>
  <div>
    <p>Button for live video sign up</p>
  </div>
  <div>
    <p>Live video announcement</p>
  </div>
  <div>
    <p>Feed of relevant videos and recently added</p>
  </div>
</div>