<div class='container'>
  <div>
    <h1>Sign Up Page!</h1>
  </div>
  <div>
    <!-- rip out angular -->
    <!-- <form  ng-app='projectLeap3App'  ng-controller='SignUpCtrl'>
      <p>First Name:<br>
        <input type="text" name="First Name" ng-model="firstName">
      </p>
      <p>Last Name:<br>
        <input type="text" name="Last Name" ng-model="lastName">
      </p>
      <p>Address:<br>
        <input type="text" name="First Name" ng-model="firstName">
      </p>
      <p>City:<br>
        <input type="text" name="First Name" ng-model="firstName">
      </p>
      <p>State:<br>
        <input type="text" name="First Name" ng-model="firstName">
      </p>
      <p>Zip Code:<br>
        <input type="text" name="First Name" ng-model="firstName">
      </p>
      <p>Phone Number:<br>
        <input type="text" name="First Name" ng-model="firstName">
      </p>
      <p>Email Address:<br>
        <input type="text" name="First Name" ng-model="firstName">
      </p>
      <p>Password:<br>
        <input type="text" name="First Name" ng-model="firstName">
      </p>
      LOOK FOR A CC NPM HANDLER
      <p>Credit Card Number:<br>
        <input type="text" name="First Name" ng-model="firstName">
      </p>
      <p>Expiration Date:<br>
        <input type="text" name="First Name" ng-model="firstName">
      </p>
      <p>Security Code:<br>
        <input type="text" name="First Name" ng-model="firstName">
      </p>
      <p>
        <input type="submit">
      </p>
    </form> -->
  </div>
</div>