<div class='container'>
  <div>
    <h1>Videos</h1>
  </div>
  <div>
    <p>Upcoming Live Group Sessions</p>
  </div>
  <div>
    <p>Access to Live Session Sign up</p>
  </div>
  <div>
    <p>Video Gallery</p>
  </div>
  <div>
    <p>Sorted by Category</p>
  </div>
  <div>
    <p>Recently added</p>
  </div>
</div>