ksfhgfl

<% if (!user) { %>
  <% if (error) { %>
    <div class="alert alert-danger"><p><%= error %></p></div>
  <% } %>

<div class="container">
    <div class="row">
    <ul class="nav nav-pills">
      <li role="presentation" ><a href="#">Find a Mentor</a></li>
      <li role="presentation"><a href="/mentorProfile">Watch Videos</a></li>
      <li role="presentation"><a href="/howitworks">How it Works</a></li>
      <li role="presentation" class="mentor"><a href="/mentorsignup">Be a Mentor</a></li>
    </ul>
  </div>
<div class="row spacer"></div>
<!-- __________ LANDING HEADER __________ -->

  <div class="row">

    <div class="jumbotron">
      <h1>Welcome to Mentor Leap Chat!</h1>
      <p class="lead">Please <a href="#" data-toggle="modal" data-target="#login-modal">login</a> to chat</p>
    </div>
  </div>

<!-- __________ END LANDING HEADER __________ -->


<% } else { %>

<div class="row" id="chat">
  <div id="messages" class="col-xs-10"></div>
  <div id="users" class="col-xs-2">
    <p class="lead">Users</p>
    <ul></ul>
  </div>
</div>

<div class="row" id="message-entry">
  <div class="col-xs-11">
    <input id="new-message" class="form-control" type="text" name="new-message" />
  </div>
  <div class="col-xs-1">
    <button id="send-message" class="btn btn-default">Send</button>
  </div>
</div>

<!-- __________ FOOTER __________ -->

<!-- __________ END FOOTER __________ -->

</div>
<% } %>
