 <div class="container">
 <div class="row">
    <ul class="nav nav-pills">
      <li role="presentation" ><a href="#">Find a Mentor</a></li>
      <li role="presentation"><a href="/mentorProfile">Watch Videos</a></li>
      <li role="presentation"><a href="/howitworks">How it Works</a></li>
      <li role="presentation" class="mentor"><a href="/mentorreg">Be a Mentor</a></li>
    </ul>
  </div>
<div class="row spacer"></div>

<!-- __________ LANDING HEADER __________ -->

  <div class="row">

    <div class="jumbotron">
      <h1>Mentor Leap</h1>
      <p class="lead">How it Works</p>
    </div>
  </div>

<!-- __________ END LANDING HEADER __________ -->

<!-- __________ MEET MENTORS __________ -->

  <div class="row">
        <!-- Card Projects -->
        <div class="col-sm-6 col-md-3">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="http://blog.ramboll.com/fehmarnbelt/wp-content/themes/ramboll2/images/profile-img.jpg">
                    <span class="card-title">FIND A MENTOR</span>
                </div>
                
                <div class="card-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium impedit dolor maxime rem doloribus ducimus nostrum laudantium ea sapiente, incidunt adipisci, saepe alias enim sunt ab cupiditate sint nobis non.</p>
                </div>               
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="http://blog.ramboll.com/fehmarnbelt/wp-content/themes/ramboll2/images/profile-img.jpg">
                    <span class="card-title">BOOK 1-1 SESSION</span>
                </div>
                
                <div class="card-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit labore ipsum nostrum mollitia, voluptate quam blanditiis neque accusantium inventore sequi facilis doloribus accusamus amet, maiores magnam! Nisi, sunt ea. Necessitatibus.</p>
                </div>               
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="http://blog.ramboll.com/fehmarnbelt/wp-content/themes/ramboll2/images/profile-img.jpg">
                    <span class="card-title">TALK TO A MENTOR</span>
                </div>
                
                <div class="card-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi provident, facilis laudantium debitis distinctio animi nesciunt sed voluptates dolores vitae veniam tempore et voluptas porro voluptatem odit suscipit, rerum ducimus.</p>
                </div>               
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="http://blog.ramboll.com/fehmarnbelt/wp-content/themes/ramboll2/images/profile-img.jpg">
                    <span class="card-title">LEARN &amp; ENGAGE</span>
                </div>
                
                <div class="card-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero eligendi consequatur maiores, illum, repudiandae quidem rerum ut tempora pariatur sed, distinctio aut. Dolores magni recusandae nisi tempora, voluptas quaerat provident.</p>
                </div>               
            </div>
        </div>
    </div>
</div>
<div class="row">
 <div class="jumbotron"> 
	
    	<!-- <div class="col-sm-3 col-md-3">            </div> -->
             <!-- <div class="col-sm-6 col-md-6"> -->
             	<h2 class="text-center">
             		INFO ABOUT PRICING
             	</h2>
               <a href="/register"><button type="button" class="btn btn-default btn-round-lg btn-lg btn-sales btn-clean">
				SIGN UP</button></a>
            <!-- </div> -->
          	<!-- <div class="col-sm-3 col-md-3">            </div>    -->
    </div>


 </div>

<!-- __________ END MEET MENTORS __________ -->