 <div class="container">
 <div class="row">
    <ul class="nav nav-pills">
      <li role="presentation" ><a href="#">Find a Mentor</a></li>
      <li role="presentation"><a href="/mentorProfile">Watch Videos</a></li>
      <li role="presentation"><a href="/howitworks">How it Works</a></li>
      <li role="presentation" class="mentor"><a href="/mentorreg">Be a Mentor</a></li>
    </ul>
  </div>
<div class="row spacer"></div>

<!-- __________ LANDING HEADER __________ -->

  <div class="row">

    <div class="jumbotron">
      <h1>Mentor Leap</h1>
      <p class="lead">How it Works</p>
    </div>
  </div>

<!-- __________ END LANDING HEADER __________ -->

<!-- __________ MEET MENTORS __________ -->

  <div class="row">
        <!-- Card Projects -->
        <div class="col-sm-6 col-md-3">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive noRound" src="/images/mentorWanted.jpeg">
                    <span class="card-title">FIND A MENTOR</span>
                </div>
                
                <div class="card-content">
                    <p>Looking for a mentor? We got you covered. Browse through our selection of mentors and find the one that's right for you.</p>
                </div>               
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive noRound" src="/images/mentorWanted2.jpeg">
                    <span class="card-title">BOOK 1-1 SESSION</span>
                </div>
                
                <div class="card-content">
                    <p>One-on-one sessions are the best way to engage with your mentor. Your mentor can give you the attention you need without any distractions.</p>
                </div>               
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive noRound" src="/images/mentorWanted3.jpeg">
                    <span class="card-title">TALK TO A MENTOR</span>
                </div>
                
                <div class="card-content">
                    <p>Not sure which career to pursue? Talk to mentor and let them demystify it for you.</p>
                </div>               
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive noRound cropper" src="/images/mentorWanted4.png">
                    <span class="card-title">LEARN &amp; ENGAGE</span>
                </div>
                
                <div class="card-content">
                    <p> If you enjoy your first session, book another and start building your relationship with your mentor. Remember to apply what you learn from your sessions.</p>
                </div>               
            </div>
        </div>
    </div>
</div>
<div class="row">
 <div class="jumbotron"> 
	
    	<!-- <div class="col-sm-3 col-md-3">            </div> -->
             <!-- <div class="col-sm-6 col-md-6"> -->
             	<h2 class="text-center">
             		INFO ABOUT PRICING
             	</h2>
               <a href="/register"><button type="button" class="btn btn-default btn-round-lg btn-lg btn-sales btn-clean">
				SIGN UP</button></a>
            <!-- </div> -->
          	<!-- <div class="col-sm-3 col-md-3">            </div>    -->
    </div>


 </div>

<!-- __________ END MEET MENTORS __________ -->