<% if (!user) { %>
  <% if (error) { %>
    <div class="alert alert-danger"><p><%= error %></p></div>
  <% } %>

<div class="container">
    <div class="row">
    <ul class="nav nav-pills">
      <!-- <li role="presentation" ><a href="#">Find a Mentor</a></li>
      <li role="presentation"><a href="/mentorProfile">Watch Videos</a></li>
      <li role="presentation"><a href="/howitworks">How it Works</a></li> -->
      <li role="presentation" class="mentor"><a href="/mentorreg">Be a Mentor</a></li>
      <li role="presentation" ><a href="/video">Record a Video</a></li>
    </ul>
  </div>
<div class="row spacer"></div>
<!-- __________ LANDING HEADER __________ -->

  <div class="row">
<div class="container-fluid">
    <div class="jumbotron header">
    <div class="fader">
      <h2 class="text-center bold">LEARN FROM OTHERS</h2>
      <h2 class="text-center bold">“Bridging the gap between curiosity and mentoring."</h2>
      <br>
      <h4><button type="button" class="btn btn-round-xlg btn-sales btn-clean">Find Your Mentor</button>
      </h4>
      <!-- <p class="text-center">Please <a href="#" data-toggle="modal" data-target="#login-modal">login</a> to chat</p> -->
      </div>
    </div>
    </div>
  </div>

<!-- __________ END LANDING HEADER __________ -->

<!-- __________ MEET MENTORS __________ -->

  <div class="row">
        <!-- Card Projects -->
        <div class="col-xs-6 col-sm-6 col-md-4">
            <div class="card">
                <div class="card-image landingPage">
                    <img class="img-responsive" src="http://media.licdn.com/media/p/1/000/215/01b/2137db4.jpg">
                    <span class="card-title">Greg Biggers</span>
                </div>
                
                <div class="card-content">
                    <p>CEO & Founder, Genomera <br> CRM/VRM</p>
                </div>
                
                <div class="card-action">
                    <a href="/mentorprofile" target="new_blank">Profile</a>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-4">
            <div class="card">
                <div class="card-image landingPage">
                    <img class="img-responsive" src="http://media.licdn.com/media/AAEAAQAAAAAAAAIEAAAAJGFiYjJhYWIzLWVjYjMtNDY1MS1hYjRmLTU5MzEwMzM4NTU0ZQ.jpg">
                    <span class="card-title">Vikash Parekh</span>
                </div>
                
                <div class="card-content">
                    <p>Developer In Residence, General Assembly <br> Education</p>
                </div>
                
                <div class="card-action">
                    <a href="/mentorprofile" target="new_blank">Profile</a>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-4">
            <div class="card">
                <div class="card-image landingPage">
                    <img class="img-responsive" src="http://media.licdn.com/media/AAEAAQAAAAAAAAMGAAAAJDY3N2E3N2Q2LTdhNWEtNDc3My05NDlkLWQxMjlkNzg5MDhjNA.jpg">
                    <span class="card-title">Christine Lau</span>
                </div>
                
                <div class="card-content">
                    <p>Evening Teaching Assistant, GA <br> Education</p>
                </div>
                
                <div class="card-action">
                    <a href="/mentorprofile" target="new_blank">Profile</a>
                </div>
            </div>
        </div>

        <!-- <div class="col-xs-6 col-sm-6 col-md-3">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="http://blog.ramboll.com/fehmarnbelt/wp-content/themes/ramboll2/images/profile-img.jpg">
                    <span class="card-title">Mentor Name</span>
                </div>
                
                <div class="card-content">
                    <p>Title, Company <br> Industry</p>
                </div>
                
                <div class="card-action">
                    <a href="/mentorprofile" target="new_blank">Profile</a>
                </div>
            </div>
        </div> -->
    </div>


<!-- __________ END MEET MENTORS __________ -->

<div class="row spacer">
  <div class="col-sm-12">
    <h2 class="media-heading">WATCH LIVE</h2>
  </div>
</div> 

<!-- __________ WATCH LIVE SECTION __________ -->




<div class="row">


<div class="col-sm-3">
      <div class="media">
          <div class="card">  
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="media-object" src="https://www.youtube.com/embed/qhqKBOynu0A" width="300" height="300" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
    </div>
  
</div>

<div class="col-sm-9">
  
          <div class="media-body">
              "How to be Awesome at everything"
            <h4 class="media-heading">Greg Biggers</h4>
            <p> Product Management Faculty <br>
                Chief Product & Marketing Officer <br>
                CEO & Founder</p>
                  
             <div class="col-sm-6 col-md-6">
                <a href="/register" class="white">
                  <button type="button" class="btn btn-primary btn-round-lg btn-lg btn-fullWidth">SIGN UP</button>
                </a>
             </div>
              <div class="col-sm-6 col-md-6"> 
                <a href="/howitworks">
                  <button type="button" class="btn btn-default btn-round-lg btn-lg btn-fullWidth">LEARN MORE</button>
                </a>
              </div>
          </div>
      
</div>

<!-- <div class="col-sm-3"></div> -->
      
  

</div>


<!-- __________ END WATCH LIVE SECTION __________ -->


<!-- __________ RECENT VIDEOS GRID __________ -->
<div class="row spacer"> <br><br><br><br>
  <div class="col-sm-12">
    <h2 class="media-heading">RECENT VIDEOS</h2>
  </div>
</div> 

<div class="row">
        <!-- Recent Video -->
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <!-- <div class="card-image"> -->
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe width="854" height="510" src="https://www.youtube.com/embed/S-o4aHxt7ww" frameborder="0" allowfullscreen></iframe>
                      </div>
                    <span class="card-title"><h3>Ajesh Shah</h3></span>
                <!-- </div> -->
                
                <div class="card-content">
                    <p><br> Product Manager, General Assembly</p>
                </div>
                <br><br>
                <!-- <div class="card-action">
                    <a href="/mentorprofile" target="new_blank">Profile</a>
                </div> -->
            </div>
        </div>

        <!-- Recent Video -->
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <!-- <div class="card-image"> -->
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe width="854" height="510" src="https://www.youtube.com/embed/bJiQu-N8cKo" frameborder="0" allowfullscreen></iframe>
                      </div>
                    <span class="card-title"><h3>John Bartlett</h3></span>
                <!-- </div> -->
                
                <div class="card-content">
                    <p><br> Product Manager, General Assembly</p>
                </div>
                <br><br>
                <!-- <div class="card-action">
                    <a href="#" target="new_blank">Profile</a>
                </div> -->
            </div>
        </div>

        <!-- Recent Video -->
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <!-- <div class="card-image"> -->
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe width="854" height="510" src="https://www.youtube.com/embed/qhqKBOynu0A" frameborder="0" allowfullscreen></iframe>
                      </div>
                    <span class="card-title"><h3>Greg Biggers</h3></span>
                <!-- </div> -->
                
                <div class="card-content">
                    <p> <br> Product Manager, General Assembly</p>
                </div>
                <br><br>
                <!-- <div class="card-action">
                    <a href="#" target="new_blank">Profile</a>
                </div> -->
            </div>
        </div>

</div>
<!-- 3 videos accros -->
<!-- 2 rows -->
<!-- __________ END RECENT VIDEOS GRID __________ -->

</div>
<% } else { %>
  <div class="container">
    <h2>You shouldn't be seeing this!</h2>
  </div>
<% } %>
