<% if (!user) { %>
  <% if (error) { %>
    <div class="alert alert-danger"><p><%= error %></p></div>
  <% } %>

<div class="container">
    <div class="row">
    <ul class="nav nav-pills">
      <li role="presentation" ><a href="#">Find a Mentor</a></li>
      <li role="presentation"><a href="/mentorProfile">Watch Videos</a></li>
      <li role="presentation"><a href="/howitworks">How it Works</a></li>
      <li role="presentation" class="mentor"><a href="/mentorreg">Be a Mentor</a></li>
    </ul>
  </div>
<div class="row spacer"></div>
<!-- __________ LANDING HEADER __________ -->

  <div class="row">

    <div class="jumbotron ">
      <h3 class="text-center text-muted">LEARN FROM OTHERS</h3>
      <h3 class="text-center text-muted">“Bridging the gap between curiosity and mentoring."</h3>
      <br>
      <h4><button type="button" class="btn btn-round-xlg btn-sales btn-clean">Find Your Mentor</button>
      </h4>
      <!-- <p class="text-center">Please <a href="#" data-toggle="modal" data-target="#login-modal">login</a> to chat</p> -->
    </div>
  </div>

<!-- __________ END LANDING HEADER __________ -->

<!-- __________ MEET MENTORS __________ -->

  <div class="row">
        <!-- Card Projects -->
        <div class="col-xs-6 col-sm-6 col-md-3">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="http://blog.ramboll.com/fehmarnbelt/wp-content/themes/ramboll2/images/profile-img.jpg">
                    <span class="card-title">Mentor Name</span>
                </div>
                
                <div class="card-content">
                    <p>Title, Company <br> Industry</p>
                </div>
                
                <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-3">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="http://blog.ramboll.com/fehmarnbelt/wp-content/themes/ramboll2/images/profile-img.jpg">
                    <span class="card-title">Mentor Name</span>
                </div>
                
                <div class="card-content">
                    <p>Title, Company <br> Industry</p>
                </div>
                
                <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-3">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="http://blog.ramboll.com/fehmarnbelt/wp-content/themes/ramboll2/images/profile-img.jpg">
                    <span class="card-title">Mentor Name</span>
                </div>
                
                <div class="card-content">
                    <p>Title, Company <br> Industry</p>
                </div>
                
                <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-3">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="http://blog.ramboll.com/fehmarnbelt/wp-content/themes/ramboll2/images/profile-img.jpg">
                    <span class="card-title">Mentor Name</span>
                </div>
                
                <div class="card-content">
                    <p>Title, Company <br> Industry</p>
                </div>
                
                <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                </div>
            </div>
        </div>
    </div>


<!-- __________ END MEET MENTORS __________ -->

<div class="row spacer">
  <div class="col-sm-12">
    <h2 class="media-heading">WATCH LIVE</h2>
  </div>
</div> 

<!-- __________ WATCH LIVE SECTION __________ -->




<div class="row">


<div class="col-sm-3">
      <div class="media">
          <div class="media-left">  
            <div class="embed-responsive embed-responsive">
              <iframe class="media-object" src="https://www.youtube.com/embed/aVS4W7GZSq0" width="300" height="300" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
    </div>
  
</div>

<div class="col-sm-9">
  
          <div class="media-body">
              "Title of the Awesome Topic"
            <h4 class="media-heading">Mentor Name</h4>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae vero autem iure rem error tenetur qui. Vel, consequuntur harum libero repellat ipsam illo, repudiandae, repellendus error eius ratione pariatur animi.</p>
                  
             <div class="col-sm-6 col-md-6">
                <a href="/register" class="white">
                  <button type="button" class="btn btn-primary btn-round-lg btn-lg btn-fullWidth">SIGN UP</button>
                </a>
             </div>
              <div class="col-sm-6 col-md-6"> 
                <a href="/howitworks">
                  <button type="button" class="btn btn-default btn-round-lg btn-lg btn-fullWidth">LEARN MORE</button>
                </a>
              </div>
          </div>
      
</div>

<!-- <div class="col-sm-3"></div> -->
      
  

</div>


<!-- __________ END WATCH LIVE SECTION __________ -->


<!-- __________ RECENT VIDEOS GRID __________ -->
<div class="row spacer">
  <div class="col-sm-12">
    <h2 class="media-heading">RECENT VIDEOS</h2>
  </div>
</div> 

<div class="row">
        <!-- Recent Video -->
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <!-- <div class="card-image"> -->
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe src="https://www.youtube.com/embed/jVD67pMdv9k" frameborder="0" allowfullscreen></iframe>
                      </div>
                    <span class="card-title"><h3>Title of Video</h3></span>
                <!-- </div> -->
                
                <div class="card-content">
                    <p>Mentor Name <br> Title, Company</p>
                </div>
                <br><br>
                <!-- <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                </div> -->
            </div>
        </div>

        <!-- Recent Video -->
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <!-- <div class="card-image"> -->
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe src="https://www.youtube.com/embed/jVD67pMdv9k" frameborder="0" allowfullscreen></iframe>
                      </div>
                    <span class="card-title"><h3>Title of Video</h3></span>
                <!-- </div> -->
                
                <div class="card-content">
                    <p>Mentor Name <br> Title, Company</p>
                </div>
                <br><br>
                <!-- <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                </div> -->
            </div>
        </div>

        <!-- Recent Video -->
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <!-- <div class="card-image"> -->
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe src="https://www.youtube.com/embed/jVD67pMdv9k" frameborder="0" allowfullscreen></iframe>
                      </div>
                    <span class="card-title"><h3>Title of Video</h3></span>
                <!-- </div> -->
                
                <div class="card-content">
                    <p>Mentor Name <br> Title, Company</p>
                </div>
                <br><br>
                <!-- <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                </div> -->
            </div>
        </div>
                <!-- Recent Video -->
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <!-- <div class="card-image"> -->
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe src="https://www.youtube.com/embed/jVD67pMdv9k" frameborder="0" allowfullscreen></iframe>
                      </div>
                    <span class="card-title"><h3>Title of Video</h3></span>
                <!-- </div> -->
                
                <div class="card-content">
                    <p>Mentor Name <br> Title, Company</p>
                </div>
                <br><br>
                <!-- <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                </div> -->
            </div>
        </div>

                <!-- Recent Video -->
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <!-- <div class="card-image"> -->
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe src="https://www.youtube.com/embed/jVD67pMdv9k" frameborder="0" allowfullscreen></iframe>
                      </div>
                    <span class="card-title"><h3>Title of Video</h3></span>
                <!-- </div> -->
                
                <div class="card-content">
                    <p>Mentor Name <br> Title, Company</p>
                </div>
                <br><br>
                <!-- <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                </div> -->
            </div>
        </div>

                <!-- Recent Video -->
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <!-- <div class="card-image"> -->
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe src="https://www.youtube.com/embed/jVD67pMdv9k" frameborder="0" allowfullscreen></iframe>
                      </div>
                    <span class="card-title"><h3>Title of Video</h3></span>
                <!-- </div> -->
                
                <div class="card-content">
                    <p>Mentor Name <br> Title, Company</p>
                </div>
                <br><br>
                <!-- <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                </div> -->
            </div>
        </div>


      
  
</div>
<!-- 3 videos accros -->
<!-- 2 rows -->
<!-- __________ END RECENT VIDEOS GRID __________ -->

</div>
<% } else { %>
  <div class="container">
    <h2>You shouldn't be seeing this!</h2>
  </div>
<% } %>
