<% if (!user) { %>
  <% if (error) { %>
    <div class="alert alert-danger"><p><%= error %></p></div>
  <% } %>


<!-- __________ LANDING HEADER __________ -->

  <div class="row">

    <div class="jumbotron">
      <h1>Welcome to Mentor Leap</h1>
      <p class="lead">Please log in to chat</p>
    </div>
  </div>

<!-- __________ END LANDING HEADER __________ -->

<!-- __________ MEET MENTORS __________ -->

  <!-- 4 profiles across -->
  <!-- CARD like -->

  <div class="row">
        <!-- Card Projects -->
        <div class="col-sm-3">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="http://blog.ramboll.com/fehmarnbelt/wp-content/themes/ramboll2/images/profile-img.jpg">
                    <span class="card-title">Mentor Name</span>
                </div>
                
                <div class="card-content">
                    <p>Title, Company <br> Industry</p>
                </div>
                
                <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="http://blog.ramboll.com/fehmarnbelt/wp-content/themes/ramboll2/images/profile-img.jpg">
                    <span class="card-title">Mentor Name</span>
                </div>
                
                <div class="card-content">
                    <p>Title, Company <br> Industry</p>
                </div>
                
                <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="http://blog.ramboll.com/fehmarnbelt/wp-content/themes/ramboll2/images/profile-img.jpg">
                    <span class="card-title">Mentor Name</span>
                </div>
                
                <div class="card-content">
                    <p>Title, Company <br> Industry</p>
                </div>
                
                <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="http://blog.ramboll.com/fehmarnbelt/wp-content/themes/ramboll2/images/profile-img.jpg">
                    <span class="card-title">Mentor Name</span>
                </div>
                
                <div class="card-content">
                    <p>Title, Company <br> Industry</p>
                </div>
                
                <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                </div>
            </div>
        </div>
    </div>


<!-- __________ END MEET MENTORS __________ -->

<div class="row spacer"></div> 

<!-- __________ WATCH LIVE SECTION __________ -->


<div class="row">


<div class="col-sm-3">
  <div class="panel">
      <div class="media">
      <h3 class="media-heading">WATCH LIVE</h3>
    
          <div class="media-left">  
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" width="300" height="300" src="https://www.youtube.com/embed/jVD67pMdv9k" frameborder="0" allowfullscreen></iframe>
            </div>
      </div>
    </div>
  </div>
</div>
  <div class="col-sm-6">
          <div class="media-body">
              "Title of the Awesome Topic"
            <h4 class="media-heading">Mentor Name</h4>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae vero autem iure rem error tenetur qui. Vel, consequuntur harum libero repellat ipsam illo, repudiandae, repellendus error eius ratione pariatur animi.</p>
            <button>SIGN UP</button> <button>LEARN MORE</button>
          </div>
  </div>
      
  

</div>


<!-- __________ END WATCH LIVE SECTION __________ -->


<!-- __________ RECENT VIDEOS GRID __________ -->

<!-- 3 videos accros -->
<!-- 2 rows -->
<!-- __________ END RECENT VIDEOS GRID __________ -->


<% } else { %>

<div class="row" id="chat">
  <div id="messages" class="col-xs-10"></div>
  <div id="users" class="col-xs-2">
    <p class="lead">Users</p>
    <ul></ul>
  </div>
</div>

<div class="row" id="message-entry">
  <div class="col-xs-11">
    <input id="new-message" class="form-control" type="text" name="new-message" />
  </div>
  <div class="col-xs-1">
    <button id="send-message" class="btn btn-default">Send</button>
  </div>
</div>

<% } %>
