<div class="container">

 <!-- Mentor Profile Badge -->



<div class="well">
  <div class="row">
	  <!-- <div class="card"> -->
	  <div class="col-sm-3">
                <div class="profile-circle">
                    <img class="img-responsive proCircle" src="http://blog.ramboll.com/fehmarnbelt/wp-content/themes/ramboll2/images/profile-img.jpg" width="200">
                </div>
       </div>
       <div class="col-sm-6">
                <div class="card-content">
                <span class="card-title">
                Mentor Name <br>
                Title <br>
                Company <br>
                </span>
				<div class="card-action">
                    <!-- <a href="#" target="new_blank">EMAIL</a>  -->

                    <p class="text-left lead">Summary about who they are, what they have to offer, why they are the best.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                	</div>
                </div>
		
		</div>
		<div class="col-sm-3">
            <div class="well panel whitebk">
				<h3>OFFICE HOURS</h3>
				<h4><small>
				9:00 AM - 12:00 PM</h4>
				<h4>Monday - Wednesday
				</small></h4>
				<a href="/register"><button type="button" class="btn btn-default btn-round-lg btn-lg btn-clean"> Book A Session </button></a>
			</div>
        </div>
		<!-- </div> -->
    </div>
  </div>

<div class="row">
	<div class="col-md-9">
	<!-- MENTOR WORK HISTORY LOOP -->
		
		<div class="mentorWork">
			<h4>Comapany Name</h4>
			<h4>Role</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat tenetur illum voluptatibus sunt esse eius praesentium nobis ea, nemo id veritatis quisquam maiores dignissimos tempora voluptate laborum, odio consequuntur dolorem?</p>
		</div>
		
		<div class="mentorWork">
			<h4>Comapany Name</h4>
			<h4>Role</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat tenetur illum voluptatibus sunt esse eius praesentium nobis ea, nemo id veritatis quisquam maiores dignissimos tempora voluptate laborum, odio consequuntur dolorem?</p>
		</div>
		


	<!-- MENTOR WORK HISTORY LOOP -->
	</div>
	
	<div class="col-md-3">
		 <div class="card">
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe src="https://www.youtube.com/embed/jVD67pMdv9k" frameborder="0" allowfullscreen></iframe>
                      </div>
                    <span class="card-title"><h3>Title of Video</h3></span>
            </div>
	</div>


</div>

<!-- Replace with larger spacer? -->

<div class="row spacer">
	<dov class="col-sm-12"></dov>
</div>

<div class="row spacer">
	<dov class="col-sm-12"></dov>
</div>


<!-- Recent video section -->

<div class="row">
	<div class="col-sm-12">
		<h2 class="media-heading">VIDEOS</h2>
	</div>
	      <!-- Recent Video -->
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <!-- <div class="card-image"> -->
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe src="https://www.youtube.com/embed/jVD67pMdv9k" frameborder="0" allowfullscreen></iframe>
                      </div>
                    <span class="card-title"><h3>Title of Video</h3></span>
                <!-- </div> -->
                
                <div class="card-content">
                    <p>Mentor Name <br> Title, Company</p>
                </div>
                <br><br>
                <!-- <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                </div> -->
            </div>
        </div>

              <!-- Recent Video -->
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <!-- <div class="card-image"> -->
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe src="https://www.youtube.com/embed/jVD67pMdv9k" frameborder="0" allowfullscreen></iframe>
                      </div>
                    <span class="card-title"><h3>Title of Video</h3></span>
                <!-- </div> -->
                
                <div class="card-content">
                    <p>Mentor Name <br> Title, Company</p>
                </div>
                <br><br>
                <!-- <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                </div> -->
            </div>
        </div>

              <!-- Recent Video -->
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <!-- <div class="card-image"> -->
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe src="https://www.youtube.com/embed/jVD67pMdv9k" frameborder="0" allowfullscreen></iframe>
                      </div>
                    <span class="card-title"><h3>Title of Video</h3></span>
                <!-- </div> -->
                
                <div class="card-content">
                    <p>Mentor Name <br> Title, Company</p>
                </div>
                <br><br>
                <!-- <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                </div> -->
            </div>
        </div>
</div>




</div> 